*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.item{
    width: 500px;
    height: 900px;
    /* border: solid; */
    margin-left: 500px;
}
h1{
  margin-left: 150px;
  color: pink;
}
.main{
    width: 350px;
    height: 400px;
    border: solid;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}
.a{
    width: 50px;
    height: 50px;
    background-color:  red;
    border-radius: 50%;
    padding-left: 40px;
    animation: wave 0.4s linear infinite;
    animation-direction: alternate-reverse
}
.b{
    width: 50px;
    height: 50px;
    background-color:  green;
    border-radius: 50%;
    animation: wave 0.6s linear infinite;
    animation-direction: alternate-reverse;
}
.c{
    width: 50px;
    height: 50px;
    background-color:  yellow;
    border-radius: 50%;
    animation: wave 0.8s linear infinite;
    animation-direction: alternate-reverse;
}
.d{
    width: 50px;
    height: 50px;
    background-color:  palevioletred;
    border-radius: 50%;
    animation: wave 1s linear infinite;
    animation-direction: alternate-reverse;
}
@keyframes wave {
    from{
     }
     to{
         transform: translatey(50px);
     } 
 }




.main-container{
    width: 350px;
    height: 400px;
    border: solid;
    display: flex;
    justify-items: center;
    align-items: end;
    gap: 20px;
    padding-left: 20px;
}
.e{
    width: 50px;
    height: 250px;
    border: solid red;
    animation: music 0.2s linear infinite;
    animation-direction: alternate-reverse;
   
}
.f{
    width: 50px;
    height: 250px;
    border: solid green;
    animation: music 0.4s linear infinite;
    animation-direction: alternate-reverse;
  
}
.g{
    width: 50px;
    height: 250px;
    border: solid red;
    animation: music 0.6s linear infinite;
    animation-direction: alternate-reverse;
}
.h{
    width: 50px;
    height: 250px;
    border: solid yellow;
    animation: music 0.8s linear infinite;
    animation-direction: alternate-reverse;
}


@keyframes music {
   
    to{
        height: 150px;
    }
}